
.App {
    display: flex;
    justify-content: center;
  }
  body{
    font-family: "solway";
  }

#cardbody{
  background: url(https://images.pexels.com/photos/386025/pexels-photo-386025.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  /* background: url('D:\frontend\src\Components\Styles\admin.jpg'); */
  background-size: cover;
  background-attachment: fixed;
  height: 1200px;
}


#addcard{
  background:rgba(0,0,0,0.55);
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 2rem;
  width: 50%;
}

#addButton{
    width:25%;
    margin-left:15%;
    margin-top: 5%;
    background: rgba(255,255,255,1);
    color:limegreen;
}
#addButton:hover{
  background: rgb(16, 170, 75);
  color:black
}


.container{
    padding-left: 20%;
   
}
.nav-link:hover{
    font-size: large;
}

.error {
    color: red;
    text-align: left;
  }

  form{
    position: relative;
    margin-left: 40%;
    
  }
 