.navbar{
    background-color: olive;
    
    
}
.App {
    display: flex;
    justify-content: center;
  }


.card{
    background-color: gainsboro;
    margin-left: 2rem;
     margin-right: 2rem;
     margin-top: 2rem;
}
.container{
    padding-left: 20%;
   
}
.nav-link:hover{
    font-size: large;
}
