.App {
    display: flex;
}
  
  label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  #loginbody{
    background-image: url(/home/coder/project/workspace/reactapp/src/TravelYaari.jpeg);
    
    background-size: cover;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 19%;
  }
  
  
  input + label {
    font-weight: bold;
    margin-right: 20px;
    margin-top: 20px;
  }
   
  .form{
   margin-left: 20%;
  }
  
  
  .error {
    color: red;
    text-align: left;
  }