.App {
    display: flex;
}
  
  label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  #loginbody{
    background-image: url("https://wallpaperaccess.com/full/3540115.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding-top: 10%;
  }
  
  
  input + label {
    font-weight: bold;
    margin-right: 20px;

  }
   
  .form{
   margin-left: 20%;
  }
  
  
  .error {
    color: red;
    text-align: left;
  }
