#search{
    margin-top:5% ;
}

#user_card{
    width: 80%;
    height:  min-content;
    margin-top: 10%;
    
}

#userhome{
    background: url(https://cdn.99images.com/photos/wallpapers/creative-graphics/turquoise%20android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-gfa8m.jpg);    background-repeat: no-repeat;
    background-size: cover;
  background-attachment: fixed;
  
  height: 1000px;
}

#deleteBus{
    float:right ;
}

#bus_img{
    height: 50%;
}
#bookbutton{
    background: rgba(255,255,255,0.5);
    color:darkgreen
}
#bookbutton:hover{
    background: rgb(75, 160, 216,1);
    color:white
}

#addRevbtn{
    background: rgba(255,255,255,0.5);
    color:darkgreen
}
#addRevbtn:hover{
    background: rgb(75, 160, 216,1);
    color:white
}

#vehicleReview{
    margin-top: 5%;
}