#usertable{
  width: 70%;
  position: relative;
  margin-bottom: 20%;
  margin-top: 5%;
  justify-content: center;
  margin-left: 10%;
}
#usersbody{
  background: url(https://images.pexels.com/photos/386025/pexels-photo-386025.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0,0,0,.5);
  height: 1000px;
  width :100%;
}
#edituserbtn{
  background:rgba(0,0,0,1);

  color:darkcyan
}
#edituserbtn:hover{
  background: rgb(255, 253, 251)
}

#deleteuserbtn{
  background:rgba(0,0,0,1);
  color:darkcyan
}
#deleteuserbtn:hover{
  background: rgb(255, 253, 251)
  
}