#vehiclebody{
    background: url(https://wallpapercave.com/wp/wp2150816.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0,0,0,.5);
    height: 1000px;
    width :100%;
  }
  
  #user_card{
    height: min-content;
    width: 80%;
  }
  
  .App {
    display: flex;
    justify-content: center;
  }
  

  