.navbar{
    background-color: olive;
    
    
}
.App {
    display: flex;
    justify-content: center;
  }
.btn{
 margin-left: 12rem;
}

.card{
    background-color: gainsboro;
}
.forms{
    padding-left: 15rem;
}
.card{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
    
}
.container{
    padding-left: 20%;
   
}
.nav-link:hover{
    font-size: large;
}
