.navbar{
  background-color: olive;
}
.App {
  display: flex;
  justify-content: center;
}
.card{
margin-left: 2rem;
margin-right: 2rem;
}
#addcard{
background-color: rgba(224, 226, 204, 0.719);
margin-bottom: 5%;
border-radius: 5%;
margin-left: 20%;
margin-right: 20%;
padding-bottom: 2rem;
}
#updateButton{
  width:25%;
  margin-left:15%;
  margin-top: 5%;

}

.container{
  padding-left: 20%;
 
}
.nav-link:hover{
  font-size: large;
}

.error {
  color: red;
  text-align: left;
}
